@background-color: #fffcf2;
@primary-color: #284b63;
@secondary-color: #3c6e71;
@accent-color: #eb5e28;
@text-color: #353535;
@second-text-color: #d9d9d9;

@very-large-font: 3rem;
@large-font: 2rem;
@medium-font: 1.5rem;
@small-font: 1rem;

* {
  font-family: "Montserrat", sans-serif;
}

body {
  color: @text-color;
  line-height: 2rem;
  background-color: @background-color;
  margin: 0;
}

button {
  background: none;
  cursor: pointer;
  padding: 8px;
  border: 2px solid @text-color;
  border-radius: 5px;
}

nav {
  background-color: #284b63;
  display: flex;
  justify-content: space-evenly;
}

nav * {
  color: @second-text-color;
  font-weight: 600;
  text-decoration: none;
  font-size: @medium-font;
}

nav * :hover,
.list h2 {
  color: #eb5e28;
  transition: 200ms;
}

.home {
  height: 90vh;
  display: flex;
  text-align: center;
}

main {
  display: flex;
  margin: 1.5rem;
}

.list {
  flex: 2 1 0;
  margin: 1rem;
}

.list-item {
  margin: 8px;
  padding: 8px;
  border: 2px solid @primary-color;
  border-radius: 10px;
}

.list-item * {
  margin: 0;
}

.list-item h2 {
  font-size: @large-font;
}

.list-item h2 a {
  text-decoration: none;
  color: @secondary-color;
}

.list-item button:hover {
  background-color: #e63946;
  transition: 200ms;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex: 1 1 0;
  background-color: @primary-color;
  padding: 1.5rem;
  border: 8px solid @secondary-color;
  border-radius: 10px;
  color: @second-text-color;
  max-height: 450px;
}

.form label {
  color: @second-text-color;
  margin: 5px 0;
}

img {
  max-width: 500px;
}
