* {
  font-family: "Montserrat", sans-serif;
}
body {
  color: #353535;
  line-height: 1.5rem;
  background-color: #fffcf2;
  margin: 0;
}
nav {
  background-color: #284b63;
  display: flex;
  justify-content: space-evenly;
}
nav * {
  color: #d9d9d9;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.5rem;
}
nav * :hover {
  color: #eb5e28;
  transition: 200ms;
}
.home {
  height: 90vh;
}
main {
  display: flex;
  text-align: center;
}
.list {
  flex: 2 1 0;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex: 1 1 0;
  background-color: #284b63;
  padding: 1.5rem;
  border: 8px solid #3c6e71;
  border-radius: 10px;
  color: #d9d9d9;
}
.form label {
  color: #d9d9d9;
  margin: 5px 0;
}
img {
  max-width: 500px;
}
