* {
  font-family: "Montserrat", sans-serif;
}
body {
  color: #353535;
  line-height: 2rem;
  background-color: #fffcf2;
  margin: 0;
}
button {
  background-color: #3c6e71;
  font-weight: 600;
  cursor: pointer;
  padding: 8px;
  border: 2px solid #353535;
  border-radius: 5px;
  color: #d9d9d9;
}
nav {
  background-color: #284b63;
  display: flex;
  justify-content: space-evenly;
}
nav * {
  color: #d9d9d9;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.5rem;
}
nav * :hover,
.list a:hover {
  color: #eb5e28;
  transition: 200ms;
}
.home {
  height: 90vh;
  display: flex;
  text-align: center;
}
main {
  display: flex;
  margin: 1.5rem;
}
.list {
  flex: 2 1 0;
  margin: 1rem;
}
.list-item {
  margin: 8px;
  padding: 8px;
  border: 2px solid #284b63;
  border-radius: 10px;
}
.list-item * {
  margin: 0;
}
.list-item h2 {
  font-size: 2rem;
}
.list-item h2 a {
  text-decoration: none;
  color: #3c6e71;
}
.list-item button:hover {
  background-color: #e63946;
  transition: 200ms;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex: 1 1 0;
  background-color: #284b63;
  padding: 1.5rem;
  border: 8px solid #3c6e71;
  border-radius: 10px;
  color: #d9d9d9;
  max-height: 450px;
}
.form label {
  color: #d9d9d9;
  margin: 5px 0;
}
img {
  max-width: 500px;
}
